<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment4.Properties.Settings.MoviesConnectionString"
            connectionString="Data Source=bigdata1.ad.uvu.edu;Initial Catalog=Movies;User ID=spacedog;Password=laika"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>